{% extends 'layout.html' %}

{% block body %}
<h1>Edit a picture!</h1>

    <style>
        img {
            max-width: 1000px;
            max-height: 800px;
        }
    </style>

<body>

    <img id="pic" src="{{ url_for('static', filename="picture.jpg") }}">
    <br>


    <label>Filter Wanted</label>
    <form action="{{ url_for('addFilter') }}" method="post">
        <select id = "myFilters" name="filters">
            <option value = "filter 1">Blur Filter</option>
            <option value = "filter 2">Emboss Filter</option>
            <option value = "filter 3">Sharpen Filter</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    <br>

	<label> Text Wanted </label>
        <form action="/addText" method="post">
          <input type="text" name="addText" />
            <br><label>Font Size:</label>
          <input type="text" name="fontSize" />
          <input type="submit"/>
        </form>

    <br>

    <label>Desired Height</label> <br>
    <form action="{{ url_for('edit2') }}" method="post">
        <label>Width:  </label>
        <input type="text" name="width"><br>
        <label>Height: </label>
        <input type="text" name="height">
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="{{ url_for('display') }}"><button>See final image here!</button></a>
    <br>
    <a href="/download"><button>Download image here!</button></a> <br>
    <label>Please Make Sure to Refresh the Page After Pressing Submit</label>
</body>
{% endblock %}