{% extends 'layout.html' %}

{% block body %}
<h1>Edit a picture!</h1>

    <style>
        img {
            max-width: 1000px;
            max-height: 800px;
        }
    </style>

<body>

    <img id="pic" src="{{ url_for('static', filename="picture.jpg") }}">
    <br>


    <label>Filter Wanted</label>
    <select id = "myFilters">
        <option value = "filter 1">filter 1</option>
        <option value = "filter 2">filter 2</option>
        <option value = "filter 3">filter 3</option>
    </select>
    <button onclick="">
            <a href="/edit">Change Filter</a>
        </button>
    <br> <br>


	<label> Text Wanted </label>
	<input type=”text” name=”picText”>
    <form action= "{{ url_for('addText') }}" method=”POST” id="form">
    <button type = "submit" form = "form" value = "Submit">Add Text</button>
        <!--<button onclick="">
        <a href="/addText">Add Text</a>
        </button>
     <label>Text Wanted: </label>
        <input type = "text">
        <button onclick="">
        <a href="/edit">Add Text</a> -->

    <br> <br>

    <label>Desired Height</label> <br>
    <form action="{{ url_for('edit2') }}" method="post">
        <label>Width:  </label>
        <input type="text" name="width"><br>
        <label>Height: </label>
        <input type="text" name="height">
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="{{ url_for('display') }}"><button>See final image here!</button></a>
    <br>
    <a href="/download"><button>Download image here!</button></a>
</body>
{% endblock %}